<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="OrangeHRM_Dema.MavenProject.SeleniumTest"/>
      <class name="OrangeHRM_Dema.MavenProject.AppiumTest"/>
      <class name="OrangeHRM_Dema.MavenProject.RestAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
